html{
    background: rgba(5, 78, 138, 0.363);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
    
.principal {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 600px;
    padding: 4em 2em 2em;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    gap: 2em;
   background: #7ea0d4;
   
}

.principal{
    width: 75%;
    height: 70%;
}

.principal{
    margin-inline: 15em 15em;
    margin-top: 8em;
}

.adicionar {
    width: 100%;
    padding: 5em;
    
}

.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid #f7f4648f;
}

.adicionar label {
    display: block;
}

.cadastrar {
        background-color: #f0df44;
        color: #000000;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    

    .titulo {
        font-family: 'Annie Use Your Telescope', cursive;
        text-align: center;
        padding: 2px;
        font-size: 55px;
        color: #4d73ac;
        font-weight: 700;
    }

    .lista {
        margin: 0;
        padding: 0;
    }

    .item {
        list-style: none;
        padding: 0.6em 2em;
        background: #FFFFFF;
        border-radius: 10px;
        margin: 0 0 1em;
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        gap: 1em;
        font-size: 20px;
    }

    .item strong {
        border-radius: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        Background: #f9fc68;
        font-weight: 400;
    }
    
.cadastrar:hover{
    border-radius: 30px;
    background:#e3e655;

}

